.signup {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form-text {
  line-height: 2;
}

.signup-form-form {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form-form input[type=text], input[type=password]{
  margin-bottom: 25px;
  border: none;
  color: black;
  border-bottom: 2px solid gray;
  font-size: 16px;
  padding: 1rem;
  background: white;
  width: 100%;
  max-width: 100%;
}

.signup-form-form input[type=submit]{
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: auto;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 15px;
}

.small {
  margin-top: 20px;
  max-width: 200px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.75);
}