.main  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-items li {
    align-items: center;
    justify-content: center;
    margin: .5rem;
    background: white;
    list-style: none;
    padding: 1rem;
    width: 250px;
}

.main-items li:hover {
    transition: ease .25s;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25)
}

.main-items li:not(:hover) {
    transition: ease .25s;
}

.main-items ul {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.main-items img {
    object-fit: cover;
    cursor: pointer;
    width: 250px;
    height: 250px;
    border-bottom: 2px solid gray;
}

.main-items h2 {
    cursor: pointer;
    font-size: 28px;
}

.main-items p {
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.main-sidebar {
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    border-radius: 25px;
    padding: 2rem;
    display: block;
}

.main-sidebar .categories {
    display: flex;
}

.main-sidebar p {
    color: black
}

.main-sidebar input {
    background: white !important;
    color: black !important;
}

select {
    padding: .75rem;
    font-size: 16px;
}