.banner {
  position: relative;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.banner-icons {
  justify-content: space-around;
}

.popular-header h1 {
  text-transform: uppercase;
  color: white;
  font-size: 90px;
  padding: 3rem 1rem;
  text-align: center;
}

@media screen and (max-width: 1050px) {
    .popular-header h1 {
        font-size: 60px;
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 690px) {
    .popular-header h1 {
        font-size: 30px;
        padding: 1rem;
    }
}