.banner {
    position: relative;
    background-color: black;
    align-items: center;
    justify-content: center
}

.banner-icons {
    justify-content: space-around;
}

.popular-header h1 {
    text-transform: uppercase;
    color: white;
    font-size: 90px;
    padding: 5rem 1rem;
    text-align: center;
}

.heart {
    position: absolute;
    font-size: 15rem;
    top: 10px;
    color: yellow;
    /* transform: rotate(45deg); */
}

.heart1 {
    position: absolute;
    font-size: 7rem;
    top: 150px;
    left: 25px;
    color: yellow;
    opacity: 0.5;
    /* transform: rotate(45deg); */
}